html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
.wrapper {
    width: 1024px;
    margin: auto;

}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

.menu {
    width: 50%;
    border: 1xp solid;
}