html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper {
    width: 1024px;
    margin: auto;

}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.menu {
    width: 50%;
    border: 1xp solid;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: black;
}